<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zju.cst.bookstore.mbg.mapper.AddressMapper">
  <resultMap id="BaseResultMap" type="edu.zju.cst.bookstore.mbg.model.Address">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="available" jdbcType="BIT" property="available" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="provience" jdbcType="VARCHAR" property="provience" />
    <result column="prefecture_city" jdbcType="VARCHAR" property="prefectureCity" />
    <result column="county_city" jdbcType="VARCHAR" property="countyCity" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="account_id" jdbcType="CHAR" property="accountId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, available, country, provience, prefecture_city, county_city, detail, account_id, 
    create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="edu.zju.cst.bookstore.mbg.model.AddressExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from address
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from address
    where id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="edu.zju.cst.bookstore.mbg.model.AddressExample">
    delete from address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="edu.zju.cst.bookstore.mbg.model.Address">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      select replace(uuid(),"-","")
    </selectKey>
    insert into address (id, available, country, 
      provience, prefecture_city, county_city, 
      detail, account_id, create_time, 
      update_time)
    values (#{id,jdbcType=CHAR}, #{available,jdbcType=BIT}, #{country,jdbcType=VARCHAR}, 
      #{provience,jdbcType=VARCHAR}, #{prefectureCity,jdbcType=VARCHAR}, #{countyCity,jdbcType=VARCHAR}, 
      #{detail,jdbcType=VARCHAR}, #{accountId,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="edu.zju.cst.bookstore.mbg.model.Address">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      select replace(uuid(),"-","")
    </selectKey>
    insert into address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="available != null">
        available,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="provience != null">
        provience,
      </if>
      <if test="prefectureCity != null">
        prefecture_city,
      </if>
      <if test="countyCity != null">
        county_city,
      </if>
      <if test="detail != null">
        detail,
      </if>
      <if test="accountId != null">
        account_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=CHAR},
      <if test="available != null">
        #{available,jdbcType=BIT},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="provience != null">
        #{provience,jdbcType=VARCHAR},
      </if>
      <if test="prefectureCity != null">
        #{prefectureCity,jdbcType=VARCHAR},
      </if>
      <if test="countyCity != null">
        #{countyCity,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="edu.zju.cst.bookstore.mbg.model.AddressExample" resultType="java.lang.Long">
    select count(*) from address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update address
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.available != null">
        available = #{record.available,jdbcType=BIT},
      </if>
      <if test="record.country != null">
        country = #{record.country,jdbcType=VARCHAR},
      </if>
      <if test="record.provience != null">
        provience = #{record.provience,jdbcType=VARCHAR},
      </if>
      <if test="record.prefectureCity != null">
        prefecture_city = #{record.prefectureCity,jdbcType=VARCHAR},
      </if>
      <if test="record.countyCity != null">
        county_city = #{record.countyCity,jdbcType=VARCHAR},
      </if>
      <if test="record.detail != null">
        detail = #{record.detail,jdbcType=VARCHAR},
      </if>
      <if test="record.accountId != null">
        account_id = #{record.accountId,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update address
    set id = #{record.id,jdbcType=CHAR},
      available = #{record.available,jdbcType=BIT},
      country = #{record.country,jdbcType=VARCHAR},
      provience = #{record.provience,jdbcType=VARCHAR},
      prefecture_city = #{record.prefectureCity,jdbcType=VARCHAR},
      county_city = #{record.countyCity,jdbcType=VARCHAR},
      detail = #{record.detail,jdbcType=VARCHAR},
      account_id = #{record.accountId,jdbcType=CHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="edu.zju.cst.bookstore.mbg.model.Address">
    update address
    <set>
      <if test="available != null">
        available = #{available,jdbcType=BIT},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="provience != null">
        provience = #{provience,jdbcType=VARCHAR},
      </if>
      <if test="prefectureCity != null">
        prefecture_city = #{prefectureCity,jdbcType=VARCHAR},
      </if>
      <if test="countyCity != null">
        county_city = #{countyCity,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        account_id = #{accountId,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.zju.cst.bookstore.mbg.model.Address">
    update address
    set available = #{available,jdbcType=BIT},
      country = #{country,jdbcType=VARCHAR},
      provience = #{provience,jdbcType=VARCHAR},
      prefecture_city = #{prefectureCity,jdbcType=VARCHAR},
      county_city = #{countyCity,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      account_id = #{accountId,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>